{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>aggregate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'search/main.css' %}" />
    <script src="{% static 'search/main.js' %}"></script>
</head>
<body>
    <div class='mainContainer'>
        <div class="title">aggregate</div>
        <div class="search">
            <input class="searchBox" id="searchBox" type="text" name="searchBox" size="100" >
            <input type="submit" id="submitButton" class="submitButton" value=">">
        </div> 
    </div>
</body>
</html>